In [45]:
import numpy as np
import pandas as pd

# SOAL B
## Import Data Hotel

In [46]:
data_hotel = pd.read_csv("dataset/hotel.csv")
data_hotel

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

## memeriksa properti data

In [47]:
data_hotel.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

## menampilkan total data, rata - rata, median dan sebagainya

In [48]:
data_hotel.describe(include='all')

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
count,119390,119390.000000,119390.000000,119390.000000,119390,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,...,119390,103050.000000,6797.000000,119390.000000,119390,119390.000000,119390.000000,119390.000000,119390,119390
unique,2,NaN,NaN,NaN,12,NaN,NaN,NaN,NaN,NaN,...,3,NaN,NaN,NaN,4,NaN,NaN,NaN,3,926
top,City Hotel,NaN,NaN,NaN,August,NaN,NaN,NaN,NaN,NaN,...,No Deposit,NaN,NaN,NaN,Transient,NaN,NaN,NaN,Check-Out,2015-10-21
freq,79330,NaN,NaN,NaN,13877,NaN,NaN,NaN,NaN,NaN,...,104641,NaN,NaN,NaN,89613,NaN,NaN,NaN,75166,1461
mean,NaN,0.370416,104.011416,2016.156554,NaN,27.165173,15.798241,0.927599,2.500302,1.856403,...,NaN,86.693382,189.266735,2.321149,NaN,101.831122,0.062518,0.571363,NaN,NaN
std,NaN,0.482918,106.863097,0.707476,NaN,13.605138,8.780829,0.998613,1.908286,0.579261,...,NaN,110.774548,131.655015,17.594721,NaN,50.535790,0.245291,0.792798,NaN,NaN
min,NaN,0.000000,0.000000,2015.000000,NaN,1.000000,1.000000,0.000000,0.000000,0.000000,...,NaN,1.000000,6.000000,0.000000,NaN,-6.380000,0.000000,0.000000,NaN,NaN
25%,NaN,0.000000,18.000000,2016.000000,NaN,16.000000,8.000000,0.000000,1.000000,2.000000,...,NaN,9.000000,62.000000,0.000000,NaN,69.290000,0.000000,0.000000,NaN,NaN
50%,NaN,0.000000,69.000000,2016.000000,NaN,28.000000,16.000000,1.000000,2.000000,2.000000,...,NaN,14.000000,179.000000,0.000000,NaN,94.575000,0.000000,0.000000,NaN,NaN
75%,NaN,1.000000,160.000000,2017.000000,NaN,38.000000,23.000000,2.000000,3.000000,2.000000,...,NaN,229.000000,270.000000,0.000000,NaN,126.000000,0.000000,1.000000,NaN,NaN
max,NaN,1.000000,737.000000,2017.000000,NaN,53.000000,31.000000,19.000000,50.000000,55.000000,...,NaN,535.000000,543.000000,391.000000,NaN,5400.000000,8.000000,5.000000,NaN,NaN

# menghitung total data minimum dan maximum

In [49]:

for column in data_hotel:
    if data_hotel[column].dtypes=="int64":
        print(column)
        print("\t minimum : ",data_hotel[column].loc[data_hotel[column]==data_hotel[column].min()].shape[0])
        print("\t maximum : ",data_hotel[column].loc[data_hotel[column]==data_hotel[column].max()].shape[0])

is_canceled
	 minimum :  75166
	 maximum :  44224
lead_time
	 minimum :  6345
	 maximum :  1
arrival_date_year
	 minimum :  21996
	 maximum :  40687
arrival_date_week_number
	 minimum :  1047
	 maximum :  1816
arrival_date_day_of_month
	 minimum :  3626
	 maximum :  2208
stays_in_weekend_nights
	 minimum :  51998
	 maximum :  1
stays_in_week_nights
	 minimum :  7645
	 maximum :  1
adults
	 minimum :  403
	 maximum :  1
babies
	 minimum :  118473
	 maximum :  1
is_repeated_guest
	 minimum :  115580
	 maximum :  3810
previous_cancellations
	 minimum :  112906
	 maximum :  26
previous_bookings_not_canceled
	 minimum :  115770
	 maximum :  1
booking_changes
	 minimum :  101314
	 maximum :  1
days_in_waiting_list
	 minimum :  115692
	 maximum :  45
required_car_parking_spaces
	 minimum :  111974
	 maximum :  2
total_of_special_requests
	 minimum :  70318
	 maximum :  40

## menghapus data yang percentase kosong lebih dari 50%

### check data kosong berdasarkan percentase

In [50]:
data_hotel.isna().sum()/data_hotel.shape[0]*100 #mencari data yang kosong berdasarkan persentase

hotel                              0.000000
is_canceled                        0.000000
lead_time                          0.000000
arrival_date_year                  0.000000
arrival_date_month                 0.000000
arrival_date_week_number           0.000000
arrival_date_day_of_month          0.000000
stays_in_weekend_nights            0.000000
stays_in_week_nights               0.000000
adults                             0.000000
children                           0.003350
babies                             0.000000
meal                               0.000000
country                            0.408744
market_segment                     0.000000
distribution_channel               0.000000
is_repeated_guest                  0.000000
previous_cancellations             0.000000
previous_bookings_not_canceled     0.000000
reserved_room_type                 0.000000
assigned_room_type                 0.000000
booking_changes                    0.000000
deposit_type                       0.000000
agent                             13.686238
company                           94.306893
days_in_waiting_list               0.000000
customer_type                      0.000000
adr                                0.000000
required_car_parking_spaces        0.000000
total_of_special_requests          0.000000
reservation_status                 0.000000
reservation_status_date            0.000000
dtype: float64

### drop data company karena memiliki data kosong lebih dari 50 %

In [51]:
data_hotel = data_hotel.drop(['company'],axis=1)
data_hotel

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,No Deposit,394.0,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,No Deposit,9.0,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,No Deposit,9.0,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,No Deposit,89.0,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,No Deposit,9.0,0,Transient,151.20,0,2,Check-Out,2017-09-07

## mengisi data agent dengan nilai rata - rata

In [52]:
mean_agent =data_hotel['agent'].mean() #mencari rata column agent
mean_agent

86.69338185346919

In [53]:
data_hotel['agent']=data_hotel['agent'].fillna(mean_agent) #mengisi data agent yang masih kosong dengan hasil nilai rata
data_hotel

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,86.693382,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,86.693382,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,86.693382,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.000000,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.000000,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,No Deposit,394.000000,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,No Deposit,9.000000,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,No Deposit,9.000000,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,No Deposit,89.000000,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,No Deposit,9.000000,0,Transient,151.20,0,2,Check-Out,2017-09-07

## mengisi data country dan data children yang kosong dengan data country dan value yang sering muncul

### check data country yang sering di panggil

In [54]:
data_hotel['country'].value_counts()

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
       ...
SLE        1
BFA        1
BHS        1
GUY        1
NPL        1
Name: country, Length: 177, dtype: int64

### check data children yang sering dipanggil

In [55]:
data_hotel['children'].value_counts()

0.0     110796
1.0       4861
2.0       3652
3.0         76
10.0         1
Name: children, dtype: int64

In [56]:
print("country \t",data_hotel['country'].mode()[0]) # mendapatkan data yang sering muncul
print("children\t",data_hotel['children'].mode()[0]) # mendapatkan data yang sering muncul

country 	 PRT
children	 0.0

### input data country yang kosong denga PRT

In [57]:
data_hotel['country'] = data_hotel['country'].fillna(data_hotel['country'].mode()[0])
data_hotel['country']

0         PRT
1         PRT
2         GBR
3         GBR
4         GBR
         ...
119385    BEL
119386    FRA
119387    DEU
119388    GBR
119389    DEU
Name: country, Length: 119390, dtype: object

### input data children yang kosong dengan value 0

In [58]:
data_hotel['children'] = data_hotel['children'].fillna(data_hotel['children'].mode()[0])
data_hotel['children']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
119385    0.0
119386    0.0
119387    0.0
119388    0.0
119389    0.0
Name: children, Length: 119390, dtype: float64

In [59]:
data_hotel

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,86.693382,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,86.693382,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,86.693382,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.000000,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.000000,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,No Deposit,394.000000,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,No Deposit,9.000000,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,No Deposit,9.000000,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,No Deposit,89.000000,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,No Deposit,9.000000,0,Transient,151.20,0,2,Check-Out,2017-09-07

## mengubah lead_time menjadi Short, Medium, Long

In [60]:
lead_time_long = (data_hotel['lead_time'].mean()/3) +data_hotel['lead_time'].mean()
lead_time_short = data_hotel['lead_time'].mean()/3

print("long",lead_time_long,sep=" >= ")
print("short",lead_time_short,sep=" <= ")
print("Medium",lead_time_short," - ",lead_time_long)

long >= 138.68188848870648
short <= 34.67047212217662
Medium 34.67047212217662  -  138.68188848870648

In [61]:
data_hotel['lead_time'] = np.where(data_hotel['lead_time']<lead_time_short,"Short",np.where(data_hotel['lead_time']>lead_time_long,"Long","Medium"))
#jika dicompile ulang terjadi error, wajar karena data sudah berubah menjadi Short,Medium dan Long

In [62]:
print("penyebaran data short, medium dan long")
print("Short\t: ",data_hotel['lead_time'].loc[data_hotel['lead_time']=="Short"].shape[0])
print("Medium\t: ",data_hotel['lead_time'].loc[data_hotel['lead_time']=="Medium"].shape[0])
print("Long\t: ",data_hotel['lead_time'].loc[data_hotel['lead_time']=="Long"].shape[0])

penyebaran data short, medium dan long
Short	:  41552
Medium	:  42178
Long	:  35660

In [63]:
data_hotel

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,Long,2015,July,27,1,0,0,2,...,3,No Deposit,86.693382,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,Long,2015,July,27,1,0,0,2,...,4,No Deposit,86.693382,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,Short,2015,July,27,1,0,1,1,...,0,No Deposit,86.693382,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,Short,2015,July,27,1,0,1,1,...,0,No Deposit,304.000000,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,Short,2015,July,27,1,0,2,2,...,0,No Deposit,240.000000,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,Short,2017,August,35,30,2,5,2,...,0,No Deposit,394.000000,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,Medium,2017,August,35,31,2,5,3,...,0,No Deposit,9.000000,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,Short,2017,August,35,31,2,5,2,...,0,No Deposit,9.000000,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,Medium,2017,August,35,31,2,5,2,...,0,No Deposit,89.000000,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,Long,2017,August,35,29,2,7,2,...,0,No Deposit,9.000000,0,Transient,151.20,0,2,Check-Out,2017-09-07

## memfilter data ['reservation_status_date'] tahun 2017 keatas

In [64]:
import datetime

In [65]:
data_hotel['reservation_status_date'] = pd.to_datetime(data_hotel['reservation_status_date']) #convert menjadi datetime
data_hotel['reservation_status_date'] = data_hotel['reservation_status_date'].loc[data_hotel['reservation_status_date']>datetime.datetime(2017,1,1)] # filter data hanya tahun  2017 keatas
data_hotel = data_hotel[data_hotel['reservation_status_date'].notna()] #karena tanggal data tersebut tidak sepenuhnya kehapus(NaT) harus di filter lagi yang ['reservation_status_date'] tidak kosong
data_hotel

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
9788,Resort Hotel,1,Medium,2017,January,1,2,1,3,2,...,0,No Deposit,240.000000,0,Transient,46.80,0,1,No-Show,2017-01-02
9805,Resort Hotel,1,Short,2017,January,1,4,0,1,1,...,0,No Deposit,86.693382,0,Transient,39.00,0,0,Canceled,2017-01-03
9809,Resort Hotel,1,Medium,2017,January,1,4,2,4,2,...,0,No Deposit,240.000000,0,Transient,52.00,0,2,No-Show,2017-01-04
9818,Resort Hotel,1,Short,2017,January,1,6,2,3,1,...,0,No Deposit,240.000000,0,Transient,43.00,0,1,No-Show,2017-01-06
9838,Resort Hotel,1,Short,2017,January,2,10,0,1,2,...,0,No Deposit,86.693382,0,Transient,0.00,0,0,Canceled,2017-01-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,Short,2017,August,35,30,2,5,2,...,0,No Deposit,394.000000,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,Medium,2017,August,35,31,2,5,3,...,0,No Deposit,9.000000,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,Short,2017,August,35,31,2,5,2,...,0,No Deposit,9.000000,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,Medium,2017,August,35,31,2,5,2,...,0,No Deposit,89.000000,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,Long,2017,August,35,29,2,7,2,...,0,No Deposit,9.000000,0,Transient,151.20,0,2,Check-Out,2017-09-07

## EXPORT DATA

In [68]:
data_hotel.to_csv("dataset/hotel_clean.csv", index = False)